#aretha {
    font-size: 30px;
}

#lorem {
    font-size: 50px;
}

#aretha {
    font-size: 40px;

}

#ARETHA {
    font-size: 30px;
}

#RAY {
    font-size: 30px;
}

#ELVIS {
    font-size: 30px;
}

#MICHAEL {
    font-size: 30px;
}

#BEYONCE {
    font-size: 30px;
}

#Ray {
    font-size: 40px;
}

#charles {
    font-size: 30px;
}

#Elvis {
    font-size: 40px;
}

#presley {
    font-size: 40px;
}

#michael {
    font-size: 40px;
}

#jackson {
    font-size: 30px;
}

#Beyonce {
    font-size: 40px;
}

#alter {
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #0084ff}
  tr:nth-child(odd){background-color: #5aafff}
  tr:hover{
    background-color: black;
    color: #0084ff;
  }

  th {
    background-color: #2186c9;
    color: white;
  }

/*#linha1 {
    background-color: rgb(103, 187, 255);
    color: aliceblue;
    font-weight: bold;
}

#linha2 {
    background-color: aliceblue;
}

#linha3 {
    background-color: aliceblue;
}

#linha4 {
    background-color: aliceblue;
}

#linha5 {
    background-color: aliceblue;
}

#linha6 {
    background-color: aliceblue;
}

#linha7 {
    background-color: aliceblue;
}

#linha8 {
    background-color: aliceblue;
}

#tabela2head {
    background-color: rgb(103, 187, 255);
    font-weight: bold;
    color: aliceblue;
}

#tabela2body {
    font-weight: bold;
    background-color: aliceblue;
}

#tabela1body {
    font-weight: bold;
}

#tabela_page_body {
    background-color: rgb(87, 62, 230);
}

#table1 {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-collapse: collapse;
}

#table2 {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-collapse: collapse;
}/*
