#aretha {
    font-size: 30px;
}

#lorem {
    font-size: 50px;
}

#aretha {
    font-size: 40px;

}

#ARETHA {
    font-size: 30px;
}

#RAY {
    font-size: 30px;
}

#ELVIS {
    font-size: 30px;
}

#MICHAEL {
    font-size: 30px;
}

#BEYONCE {
    font-size: 30px;
}

#Ray {
    font-size: 40px;
}

#charles {
    font-size: 30px;
}

#Elvis {
    font-size: 40px;
}

#presley {
    font-size: 40px;
}

#michael {
    font-size: 40px;
}

#jackson {
    font-size: 30px;
}

#Beyonce {
    font-size: 40px;
}

#alter {
    font-size: 30px;
}